@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
}

:root {
  /* BACKGROUND */
  --bg-primary: #1dbfaf;
  --bg-second: #1aafa0;
  --bg-theme: #313131;
  --bg-sidebar: #3d3d3d;
  --bg-menu: #425061;
  --bg-field: #f7f8f7;
  --bg-toolbar: #808080;

  /* BORDER */
  --bd-field: #c9c9c9;
  --bd-separator: #3c4d58;

  /* OUTLINE */
  --items-color: #1dbfaf;

  /* TEXT */
  --white-text-color: #fff;
  --items-text-color: #ccc;
  --primary-text-color: #000;
  --second-text-color: #1dbfaf;
}

ol,
ul,
dl,
menu {
  list-style: initial;
}

div,
p {
  word-break: break-word;
}

[contentEditable] {
  outline: 0 solid transparent;
  border: none;
  cursor: text;
}

[contentEditable][placeholder]:empty:before {
  content: attr(placeholder);
  display: block;
  opacity: 0.5;
}

[contentEditable] ul,
[contentEditable] ol,
[contentEditable] dl {
  padding-left: 1.4em;
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}
