@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
}

:root {
  /* BACKGROUND */
  --bg-theme: #313131;
  --bg-sidebar: #3d3d3d;
  --bg-menu: #425061;
  --bg-field: #f7f8f7;

  /* BORDER */
  --bd-field: #c9c9c9;
  
  /* TEXT */
  --white-text-color: #fff;
  --primary-text-color: #000;
}

div,
p {
  word-break: break-word;
}

div[contenteditable] {
  border: none;
  outline: none;
  cursor: text;
  display: inline-block;
  width: 100%;
}

div[contenteditable][placeholder]:empty::before {
  content: attr(aria-placeholder);
  opacity: 0.5;
  width: auto;
}
